* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #161616;
  scroll-behavior: smooth;
}

/*---- NAVBAR----*/
.navbar {
  height: 60px;
  background-color: #333333;
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.logo { 
  margin: 0 0 0 2rem;
  color: #fff;
}

.navbar .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
}

.navbar .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.navbar .nav-icon {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 15rem;
}

.navbar .nav-icon ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-icon ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 2rem;
}

.navbar .nav-icon ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.close {
  display: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-align: right;
}

.close:hover { 
  cursor: pointer;
  color: #333333;
}

.navbar .nav-icon ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.navbar .nav-icon .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.navbar .nav-icon .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

/*---- REUSABLE COMPONENTS----*/
.text-color { color: #999;}
.text-color2 { color: #fff;}
.spacer { margin: 70px 0;}

.checked { color: goldenrod;}

.container { padding: 0 30px;}

.imgBox {
  text-align: right;
  background-color: #333;
}

.row {
  display: flex;
  grid-gap: 20px 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border-radius: 1rem;
  width: 35%;
}

.card-text {
  text-align: center;
  padding: 2rem;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(160, 158, 158, 0.2);
  cursor: pointer;
}

/*---- SECTION ----*/

.search {
  background-color: #333;
  width: 70%;
  padding: 1.2rem;
  margin-top: 1rem;
  margin-right: 3rem;
  outline: none;
  border: none;
}

.searchBox { text-align: center;}

input::placeholder { font-size: 1rem;}
input [type="text"] { 
  font-size: 1rem;
  padding: 2rem;
}

.search-icon {
  font-size: 1.5rem;
  color: #191919;
  margin-left: -5rem;
}

.search-icon:hover { cursor: pointer;}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*---- FOOTER ----*/
.footer-text { 
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

/* 
.dark-mode {
  background-color: #fff;
  color: #000;
}

.text-color2-dark-mode { color: #161616;} */



   /*---- BREAKPOINTS ----*/
   @media only screen and (max-width: 1023px) {
    .navbar .nav-icon { padding: 0 5rem;}
   }
  @media only screen and (max-width: 767px) {
    .bg-img { width: 100%;}

    .row { display: block;}

    .card { 
      width: 100%;
      margin: 2rem 0;
    }

    .card-text { padding: 0;}

    .navbar .nav-icon { padding: 0;}
}

@media only screen and (max-width: 650px) {
  .logo { margin: 0 0 0 2rem;}

  .navbar {
    justify-content: space-between;
  }

  .navbar .logo {
    flex: 1;
  }

  .navbar .nav-icon {
    flex: 0;
  }

  .navbar .nav-icon ul {
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    /* background: #ffffff; */
    background-image: linear-gradient(to bottom, #fff , #191919);
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;
  }

  .navbar .nav-icon ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #191919;
  }

  .navbar .nav-icon ul .close { display: block;}

  .navbar .nav-icon .icon-bar {
    display: flex;
    margin-right: 1rem;
  }

  .navbar .nav-icon ._Menus-show { 
    left: 0;
    padding-left: 1rem;
  }
}
