* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #161616;
  color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

/*---- NAVBAR----*/
header {
  background-color: #333;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

header .nav-row {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

nav a { 
  margin: 0 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0);
  transition: all 0.7s;
}

nav a:hover {
  border-bottom: 1px solid;
  border-bottom-color: rgba(218,165,32 ,1);
}


/*---- REUSABLE COMPONENTS ----*/
.text-color { color: #999;}
.text-color2 { 
  color: #fff;
  text-align: center;
}
.spacer { margin: 70px 0;}

.checked { color: goldenrod;}

.container { padding: 0 5rem;}

hr { margin: 2rem 0;}

.icon { 
  padding-right: .5rem;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*---- SECTION-BANNER ----*/
.banner {
  width: 100%;
  /* height: calc(100vh - 60px); */
  padding: 8rem 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0.2) 100%) 50% center / cover no-repeat, url(../img/bg-mg.jpg);
}

.banner-content {
  width: 60%;
}

.banner-content .rating {
  font-size: 1.5rem;
}

.banner-content .movie-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
}

.banner-content .movie-desc {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.banner-content a {
  background-color: #333;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.banner-content a:hover {
  background-color: goldenrod;
}

.banner-content button {
  background-color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.movie-card {
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
  margin: 1.5rem;
}

.movie-card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(160, 158, 158, 0.2);
  cursor: pointer;
}

.movie-card img {
  width: 100%;
}

.movie-card h4 {
  font-size: .8rem;
  line-height: 2;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.movie-card .row {
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem;
}

.movie-card p {
  font-size: .7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


/*---- SECTION ----*/

.searchBox { 
  position: relative;
  text-align: center;
  margin: 0 15rem;
}

.search {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
}


input::placeholder { font-size: 1rem;}
input [type="text"] { 
  font-size: 1rem;
  padding: 2rem;
}

.search-icon {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.search-icon:hover { cursor: pointer;}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*---- FOOTER ----*/
.footer-text { 
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

footer a { text-decoration: underline;}


   @media only screen and (min-width: 0px) {
    .nav-menu a{ 
      display: block;
      border-bottom: 1px solid rgb(128, 126, 126);
      width: 100%;
      font-size: 1rem;
      margin: 2.5rem 0;
      padding-left: 1rem;
    }
  
    .nav-menu.show{
      width: 50%;
      height: 100vh;
      position: fixed;
      background: rgb(22, 21, 26);
      right: 0px;
      top: 60px;
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      transition: .5s all ease-in-out;
    }
  
    #mobile-nav{ 
      display: block;
      cursor: pointer;
    }
  
    .nav-menu{ opacity: 0;}
  
    .nav-menu.show{
      transform: scaleY(1);
      opacity: 1;
    }

    /* .nav-row a { margin-left: 1rem;} */
  
    .container { padding: 0 .5rem;}
  
    .banner-content .rating { text-align: center;}
  
    .banner-content .movie-title {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .banner-content { width: 100%;}
  
    .btn-group {
      text-align: center;
    }
  
    .banner-content { width: 100%;}
  
    .banner-content a {
      font-size: 1rem;
      padding: 1rem;
    }
  
    .banner-content button { padding: 1rem;}
  
    .banner-content .movie-desc  { 
      text-align: center;
      font-size: 1rem;
    }

    .movie-card {
      width: 45%;
      margin: .4rem;
    }
  
    .footer-text { font-size: .9rem;}
  
  }

@media only screen and (min-width: 375px) {
  .nav-menu a{ 
    display: block;
    border-bottom: 1px solid #555;
    width: 100%;
    font-size: 1rem;
    margin: 2.5rem 0;
    padding-left: 1rem;
  }

  .nav-menu.show{
    width: 50%;
    height: 100vh;
    position: fixed;
    background: rgb(22, 21, 26);
    right: 0px;
    top: 60px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    transition: .5s all ease-in-out;
  }

  #mobile-nav{ 
    display: block;
    cursor: pointer;
  }

  .nav-menu{ opacity: 0;}

  .nav-menu.show{
    transform: scaleY(1);
    opacity: 1;
  }

  .container { padding: 0 1rem;}

  .banner-content .rating { text-align: center;}

  .banner-content .movie-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .banner-content { width: 100%;}

  .btn-group {
    text-align: center;
  }

  .banner-content { width: 100%;}

  .banner-content a {
    font-size: 1rem;
    padding: 1rem;
  }

  .banner-content button { padding: 1rem;}

  .banner-content .movie-title { font-size: 1.5rem;}

  .banner-content .movie-desc  { 
    text-align: center;
    font-size: 1rem;
  }

  .movie-card {
    width: 40%;
    margin: 1rem
  }

  .footer-text { font-size: 1rem;}

}

@media only screen and (min-width: 576px) {
  nav a { margin: 0 .8rem;}

  .container { padding: 0 2rem;}

  .movie-card { width: 40%;}

}

@media only screen and (min-width: 768px) {
  .nav-menu.show{ 
    opacity: 1;
    display: none
  }

  .nav-menu { 
    display: flex;
    opacity: 1;
  }

  .nav-menu a {  
    margin: 2rem;
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid #333;
  }

  .nav-row a { margin-left: 3rem;}

  #mobile-nav { display: none;}

  .banner-content {
    width: 70%;
    padding-left: 3rem;
  }
  
  .banner-content .rating { text-align: left;}

  .banner-content .movie-title {
    font-size: 2rem;
    text-align: left;
  }

  .banner-content .movie-desc  { text-align: left;}

  .btn-group {
    text-align: left;
  }

  .movie-card { width: 25%;}
}

@media only screen and (min-width: 992px) {

  .nav-row a { margin-left: 5rem;}

  .banner-content {
    width: 70%;
    padding-left: 5rem;
  }


  .footer-text { font-size: 1.2rem;}
}

@media only screen and (min-width: 1200px) {
  .nav-row a { margin-left: 6rem;}

  .banner-content {
    width: 70%;
    padding-left: 6rem;
  }
 
  .movie-card { width: 15%;}
}
   
